@page "/project_core_doc"
@page "/project_core/{path}"
@inject NavigationManager NavigationManager
<h3>@Path</h3>

@code {
    [Parameter]
    public string Path { get; set; }

    protected override async Task OnInitializedAsync()
    {

        if (Path == null)
            NavigationManager.NavigateTo("/project_core/README");

}

}
