@page "/"
<h1>欢迎访问HCGStudio！</h1>

<p>现在网站正在建设中，不过我们还是在右侧为您提供了一些有用的小工具，以及我们项目的介绍！！</p>
<p><strong>重要：</strong>由于本网站使用Github Page进行部署，国内访问速度可能访问慢。但是启用了PWA，所以您不用每次都需要重新加载页面。但是如果您看到的网页状态滞后，请按Ctrl+R进行强制刷新。</p>

